.blue, .green{
    color: #fff;
    height: 40px;
}


.blue, .blue-container{
    background-color: #006cfa;
    border: 1px solid #fff;
}

.blue-container{
    padding: 5px;
    height: 80px;
}

.green{
    background-color: #00e165;
    border: 1px solid #006cfa;
}

.space{
    margin-top: 20px;
}

.space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}